.container-list-last-events{
    padding: 70px 0;
    background-color: black;

    .container-bg{
        background: black;
    }

    .header{
        text-align: center;
        color: white;
        margin-bottom: 20px;
        font-weight: 200;
        font-size: 3.125rem;
        text-transform: uppercase;
    }
}